.productImage{
    /* width: ; */
    width: 430px;
    height: 500px;
    margin-left: 10px;
}

.productImage img{
    width: 100%;
    height: 100%;
    background-color: #CDCDCD;
    object-fit: cover;
    border-radius: 6px;
    border-bottom: 3px solid black;

}