.productImageGroup{
    width: 120px;
    margin-left: 60px;
    /* margin-top: 40px; */
    cursor: pointer;
    margin-top:200px;
}

.productImageGroup img{
    width: 120px;
    height: 140px;
    background-color: #CDCDCD;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #2424240c;
    object-fit: contain;
}