.profileContainer {
  padding: 50px 10px 20px 150px;
  color: #333;
  background-color: #000000;
}

.profileTitle {
  color: #ddd;
  width: 110px;
  height: 40px;
  border-radius: 35px;
  border: 1px solid #147aff39;
  font-size: 15px;
  display: flex;
  align-items: center;
  background-color: #147aff2c;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-left: 24px;
}

.ordersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  background-color: #000000;
}

.orderCard {
  border-radius: 14px;
  padding: 20px;
  background-color: #121212;
  width: 372px;
  height: 487px;
}

.productName {
  font-size: 15px;
  margin-bottom: 15px;
  color: #ffffff;
  padding-bottom: 10px;
  background-color: #4a4a4a;
  width: 230px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-radius: 24px;
  text-transform: uppercase;
  padding: 10px;
}

.orderDetails {
  margin-bottom: 15px;
  background-color: #1b1a1a;
  padding: 10px;
  color: #ffffff;
  border-radius: 10px;
}

.orderDetails span {
  font-size: 14px;
  background-color: #1b1a1a;
  color: #ffffff;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  background-color: #1b1a1a;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.detailRow span:first-child {
  font-weight: 600;
  color: #ffffff;
}

.detailRow span:last-child {
  color: #ffffff;
}

.priceSection {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 15px; */
  /* padding-top: 10px; */
  /* border-top: 1px solid #eee; */
  font-weight: bold;
  background-color: #121212;
  width: 133px;
  height: 40px;
  border-radius: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 100px;
}

.priceSection span {
  background-color: #121212;
}

.priceValue {
  font-size: 18px;
  color: #2a6496;
  background-color: #121212;
}

.productImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* margin-top: 10px; */
  border-radius: 4px;
  margin-left: 60px;
  background-color: #121212;
}
