.productContainer {
  /* padding: 20px; */
  width: 1080px;
  height: auto;
  border-radius: 16px;
  background-color: #F1F2F5;
      font-family: 'Poppins', sans-serif;

}

.addProductTitle {
  color: #5d5a5a;
  font-size: 20px;
  font-weight: 600;
  background-color: #F1F2F5;
}